body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Appcontainer {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background: rgba(29, 31, 32, 0.904)
    radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%);

  background-size: 11px 11px;
}

.rowContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ColumnContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(49, 24, 24, 0.39);
  height: 100vh;
  width: 15vw;
  
}

.sidebarContainerAni{
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}

.ChatboxContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  background-color: rgba(47, 0, 255, 0.096);
}

.sidebarClosed{
  display: flex;
  flex-direction: column;
  align-items: "center";
  background-color: rgba(49, 24, 24, 0.39);
  height: 100vh;
  width: 40px;
  
}

.sidebarClosedAni{
  transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}

.ChatHistoryPrefabContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(44, 44, 44, 0.61);
  height: 70px;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.ChatHistoryPlaceHolderContainer{
  height: 70px;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.sidebarInput{
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-color: rgb(255, 255, 255);
}

.ChatHistoryText{
  padding: 0;
  border: 0;
  margin: 0;
  margin-bottom: 0;
  color: white;
  font-size: 1vw;
}

.TitleText{
  font-size: 1.5vw;
  color: white;
}

.overrideStyle{
  background-color:rgba(12, 3, 53, 0) !important; 
  border-color: rgba(0, 0, 0, 0)!important; 
}

.imgClear{
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

.placeHolderOverride{
  height: 100% !important;
  width: 100% !important;
  
}

.placeHolderOverrideChat{
  height: 100% !important;
  width: 100% !important;
  position: relative;
  right: 10px;
}
.messagePlaceHolderContainer{
  padding-top: 10px;
  width: 200px;
  height: 50px;
  overflow: hidden;
}